APP_CONFIG_PATH="./configs/local.yml"
APP_ENV="dev"

# postgres
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DBNAME="sceneai"
POSTGRES_USER="devathh"
POSTGRES_PASSWORD="1111"

# redis
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""

# open router's
OR_APIKEY=""